/* src/components/NavBar/NavBar.module.css */

.container {
  top: 0;
  z-index: 1;
  width: 100%;
  height: 80px;
  display: flex;
  position: fixed;
  padding: 14px 21px;
  align-items: center;
  background: white;
  border-bottom: 1px solid var(--border);
}

.container ul {
  margin: 0;
  width: 100%;
  display: flex;
  list-style: none;
  font-weight: bold;
  align-items: center;
  justify-content: flex-end;
}

.container li {
  margin-left: 35px;
  text-align: right;
}

.container a {
  color: var(--primary); 
  text-decoration: none;
}

.container > a h2 {
  color: black;
  margin: 0;
}