/* src/components/WorkoutList.module.css */
.container {
  gap: 14px;
  width: 100%;
  display: grid;
  padding: 21px;
  grid-template-columns: repeat(1, 1fr);
}

@media only screen and (min-width: 900px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Workout card styling */
.container article {
  width: 100%;
  height: 220px;
  padding: 14px 21px;
  border-radius: 5px;
  border: 1px solid var(--border);
  background-color: var(--card-background);
  box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
}

.container article header {
  margin-bottom: 14px;
}

.container article h2 {
  margin: 0;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 

.container article p {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  line-height: 1.5rem; 
  height: 4.5rem;    
  text-align: justify;
  word-break: keep-all;
  text-align-last: left;
}
}