/* src/index.css */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 123, 255, 0.1); 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
  --primary: #007bff;
  --background: rgba(0, 123, 255, 0.1); 
  --card-background: white;
  --border: rgb(220, 220, 220);
}

#root {
  height: 100%;
}

body {
  overflow: auto;
  padding-top: 80px; 
}

h1, h3 {
  margin: 7px 0px 14px 0px;
}

h1 {
  font-size: 28px;
  font-weight: 600;
}

a {
  color: black;
  font-weight: 600;
  text-decoration: none;
}

form {
  width: 100%;
  display: flex;
  max-width: 500px;
  border-radius: 5px;
  flex-direction: column;
  background-color: white;
  padding: 21px 21px 28px 21px;
  border: 1px solid var(--border);
  box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
}

button, a {
  cursor: pointer;
}
